$font-size: 16px;
$font-size-big: 1.3rem;
$font-size-biggest: 1.5rem;

$color-dark-medium: #aaa;
$color-darkest: #000;
$color-lightest: #fff;
$color-light: #ddd;


$color-debug-border: #f0f;


$spacing: 1rem;