// declared fonts

@font-face {
    font-family: "Roboto";
    src: url("~/assets/fonts/Roboto/Roboto-Regular.ttf"); 
}

@font-face {
    font-family: "Roboto_Thin";
    src: url("~/assets/fonts/Roboto/Roboto-Thin.ttf"); 
}

@font-face {
    font-family: "Roboto_Condensed";
    src: url("~/assets/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf"); 
}

@font-face {
    font-family: "Montserrat";
    src: url("~/assets/fonts/Montserrat/Montserrat-Regular.ttf"); 
}

@font-face {
    font-family: "Kanit";
    src: url("~/assets/fonts/Kanit/Kanit-ExtraBold.ttf"); 
}


@font-face {
    font-family: "Erica_One";
    src: url("~/assets/fonts/Erica_One/EricaOne-Regular.ttf"); 
}

@font-face {
    font-family: "Lunch";
    src: url("~/assets/fonts/Lunch_Yq4y/Lunch-Yq4y.ttf"); 
}

@font-face {
    font-family: "San_Marino_Beach";
    src: url("~/assets/fonts/San_Marino_Beach/SanMarinoBeach-2OOLW.ttf"); 
}

@font-face {
    font-family: "Lazer84";
    src: url("~/assets/fonts/Lazer84/Lazer84.ttf"); 
}


@font-face {
    font-family: "Commando";
    src: url("~/assets/fonts/Commando/commando.ttf"); 
}

@font-face {
    font-family: "20db";
    src: url("~/assets/fonts/20db/20db.otf"); 
}

@font-face {
    font-family: "Hauser";
    src: url("~/assets/fonts/Hauser/Hauser Bold Italic.otf"); 
}

@font-face {
    font-family: "Slant";
    src: url("~/assets/fonts/Slant/SLANT.TTF"); 
}


@font-face {
    font-family: "ThunderStrike";
    src: url("~/assets/fonts/ThunderStrike/thunderstrike.ttf"); 
}

@font-face {
    font-family: "Neon";
    src: url("~/assets/fonts/Neon/Neon.ttf"); 
}

@font-face {
    font-family: "Guanine";
    src: url("~/assets/fonts/Guanine/guanine.ttf"); 
}

@font-face {
    font-family: "Monoton";
    src: url("~/assets/fonts/Monoton/Monoton-Regular.ttf"); 
}

@font-face {
    font-family: "Neoneon";
    src: url("~/assets/fonts/Neoneon/Neoneon.otf"); 
}

